accelerate==0.19.0
aiohttp==3.8.4
aiosignal==1.3.1
anaconda-client==1.11.2
anaconda-navigator==2.4.0
apache-beam==2.47.0
appdirs==1.4.4
async-timeout==4.0.2
atomicwrites==1.4.0
azure-ai-formrecognizer==3.3.0b1
azure-common==1.1.28
azure-core==1.26.4
backoff==2.2.1
backports.weakref==1.0.post1
boilerpy3==1.0.6
brotlipy==0.7.0
canals==0.2.1
cloudpickle==2.2.1
clyent==1.2.2
conda==23.3.1
conda-build==3.24.0
conda-repo-cli==1.0.41
conda-verify==3.4.2
constantly==15.1.0
construct==2.5.3
crcmod==1.7
cssselect==1.1.0
daal4py==2023.0.2
dacite==1.8.1
dataclasses-json==0.5.7
datasets==2.12.0
datashape==0.5.4
dill==0.3.1.1
dnspython==2.3.0
docopt==0.6.2
embed==0.1.0
et-xmlfile==1.1.0
Events==0.4
farm-haystack==1.16.1
fastavro==1.7.4
fasteners==0.18
Flask-Cors==3.0.10
fonttools==4.25.0
frozenlist==1.3.3
grpcio==1.54.2
haystack==0.42
hdfs==2.7.0
htmlmin==0.1.12
httplib2==0.21.0
huggingface-hub==0.14.1
ImageHash==4.3.1
inflect==6.0.4
inflection==0.5.1
isodate==0.6.1
jsonpointer==2.1
langchain==0.0.162
llvmlite==0.39.1
loguru==0.7.0
marshmallow==3.19.0
marshmallow-enum==1.5.1
mkl-fft==1.3.1
mkl-service==2.4.0
mmh3==3.1.0
monotonic==1.6
more-itertools==9.1.0
mpmath==1.2.1
msrest==0.7.1
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.14
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
num2words==0.5.12
oauthlib==3.2.2
objsize==0.6.1
openapi-schema-pydantic==1.2.4
openpyxl==3.0.10
orjson==3.8.12
pandas-profiling==3.6.6
patsy==0.5.3
pdfminer.six==20221105
pdfplumber==0.9.0
pefile==2023.2.7
pep8==1.7.1
phik==0.12.3
Pillow==9.4.0
pinecone-client==2.2.1
ply==3.11
posthog==3.0.1
proto-plus==1.22.2
protobuf==3.20.2
pyarrow==11.0.0
pyasn1-modules==0.2.8
pycurl==7.45.1
pydantic==1.10.7
PyDispatcher==2.0.5
pydot==1.4.2
pyls-spyder==0.4.0
pymongo==4.3.3
PyPDF2==3.0.1
PyQt5==5.15.7
PyQtWebEngine==5.15.4
pytest==7.1.2
python-lsp-jsonrpc==1.0.0
python-ptrace==0.9.8
pywin32==305.1
quantulum3==0.9.0
queuelib==1.5.0
rank-bm25==0.2.2
requests-oauthlib==1.3.1
responses==0.18.0
scikit-learn-intelex==20230228.214818
scipy==1.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
SQLAlchemy-Utils==0.41.1
sseclient-py==1.7.2
tables==3.7.0
tangled-up-in-unicode==0.2.0
TBB==0.2
tenacity==8.2.2
tiktoken==0.4.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.25.1
typeguard==2.13.3
typing-inspect==0.8.0
uuid==1.30
visions==0.7.5
Wand==0.6.11
webencodings==0.5.1
win32-setctime==1.1.0
wincertstore==0.2
wordcloud==1.9.2
xxhash==3.2.0
yarl==1.9.2
ydata-profiling==4.2.0
zict==2.1.0
zstandard==0.19.0